

  .circulo {
    width: 24%;
  height: 24%;
  }
  
  .circulo > .imagen {
    width: 88.6667%; 
    height: 100%;
    border-radius: 100%;
    margin-left: 0%;
    margin-block-start: -15%;
    background-color: #333; /* agregar un fondo de color */
    border: 5px solid white; /* agregar un borde */
  }


