.h5,
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.circulo {
  width: 24%;
  height: 24%;
}
.circulo .imagen {
  width: 88.6667%;
  border-radius: 100%;
  display: block;
  margin-bottom: 1rem;
  margin-block-start: -15%;
  background-color: #333;
  /* agregar un fondo de color */
  border: 5px solid white;
  /* agregar un borde */
}
@media (max-width: 768px) {
  .circulo {
    width: 150px;
    height: 150px;
  }
}