
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Proyectos</h1>

      <button
        type="button"
        class="btn btn-primary"
        routerLink="/newproject"
        *ngIf="isLogged"
      >
        Nuevo Proyecto
      </button>

      <tr *ngFor="let Proyecto of project">
      
        <ul>
          <li>
            <h4>
              {{ Proyecto.nombreP }}
            </h4>
          
            <img class="res" src="{{ Proyecto.imgP }}" width="60%" alt="imagen del proyecto" loading="lazy" />
          </li>
        </ul>
        <td *ngIf="isLogged">
          <div class="margen">
            <button class="edit-button" (click)="delete(Proyecto.id)">  
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </tr>
    
    
    </div>
  </div>
</div>
