<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a href="/" title="Logo personal">
      <img src="assets\img\CC.svg" alt="Logo" class="logoCC" />
    </a>

    <li class="nav-item dropdown">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Secciones
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li>
          <a class="dropdown-item" href="#item-header" title="Item acerca de mi"
            >Acerca de mi</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#item-historial" title="Item historial"
            >Historial academico</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#item-experiencia"
            title="Item experiencia"
            >Experiencia laboral
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#item-hyss" title="Item hyss"
            >Hard & soft skills</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#item-Proyectos" title="Item proyectos"
            >Proyectos</a
          >
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item" href="#item-contacto" title="Item contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </li>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <a
          class="navbar-brand"
          href="https://www.instagram.com/cristiancrispens02/"
          target="blank"
          title="Redireccion a instagram"
        >
          <i class="bi bi-instagram"> </i>
        </a>
        <a
          class="navbar-brand"
          href="https://www.linkedin.com/in/cristian-crispens-608b48241/ "
          target="blank"
          id="linkedin"
          title="Redireccion a linkedin"
        >
          <i class="bi bi-linkedin"> </i>
        </a>
        <a
          class="navbar-brand"
          href="https://github.com/Crispens02"
          target="blank"
          title="Redireccion a github"
        >
          <i class="bi bi-github"> </i>
        </a>
      </ul>
      <button
        type="button"
        class="btn btn-primary border border-dark border-2 text-dark"
        data-bs-whatever="@mdo"
        (click)="login()"
        *ngIf="!isLogged"
      >
        <h1>→</h1>
      </button>
      <button
        type="button"
        class="btn btn-primary border-dark border-2"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        <h1>←</h1>
      </button>
    </div>
  </div>
</nav>
<div>
  <img src="{{ miPortfolio?.Portada }}" alt="Portada" class="portada" />
</div>
