<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Experiencia laboral</h1>

      <button
        type="button"
        class="btn btn-primary newxp"
        data-bs-toggle="modal"
        data-bs-target="#modalXp"
        *ngIf="isLogged"
      >
        Nueva Experiencia
      </button>

      <div *ngFor="let Experiencia of expe">
        <div class="alert">
        <h2>
          <img
            src="{{ Experiencia.imgE }}"
            width="40"
            height="35"
            alt="imagen de experiencia"
          />
          {{ Experiencia.nombreE }}
        </h2>
        <div *ngIf="isLogged"  class="buttonsContainer margin-icons">
          <button
            class="edit-button"
            routerLink="/editexp/{{ Experiencia.id }}"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
       
            <button class="delete-button" (click)="delete(Experiencia.id)">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>

        <ul>
          <li>
            <span>{{ Experiencia.descripcionE }}</span>
          </li>
        </ul>
      
      </div>
    </div>
    </div>
  </div>
</div>
<app-new-xp (xpAgregada)="xpAgregada($event)"></app-new-xp>
