.margen {
    margin-left: 10px;
}

.edit-button {
 
    border: none;
    
    background-color: transparent;
    color: white;

  }

  .delete-button {
   
    border: none;
    background-color: transparent;
    color: white;
  }