<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert">
        <img  class = "imgPie"[src]="miPortfolio?.pie"   alt="Image Contact"  loading="lazy"/>

        <h3 class="color">Cristian Crispens</h3>
        <h4 class="color">Portfolio web </h4>
        <h4 class="color">
          <img  class ="imgGmail" [src] ="miPortfolio?.Gmailicon" alt="icono gmail" loading="lazy" />
          <a href="mailto:{{miPortfolio?.Correo}}">{{miPortfolio?.Correo}}</a>
         
        </h4>
      </div>
    </div>
  </div>
</div>
