<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success text-center" role="alert">
        <img class="imgPie" src="{{miPortfolio?.pie}}" alt="Image Contact">
        <h3 class="color text-center">Cristian Crispens</h3>
        <h4 class="color text-center">Portfolio web</h4>
        <h4 class="color">
          <img class="imgGmail" src="{{miPortfolio?.Gmailicon}}" alt="icono gmail">
          <a href="mailto:{{miPortfolio?.Correo}}"
          title="Enviar correo electronico">{{miPortfolio?.Correo}}</a>
        </h4>
      </div>
    </div>
  </div>
</div>