.margen {
  margin-left: 10px;
}

.edit-button,
.delete-button {

  border: none;
  background-color: transparent;
  color: white;

}




figcaption {
  opacity: 0;
  transition: opacity 1s ease;
}

figure:hover>figcaption {
  opacity: 1;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

button {
  margin-bottom: 1rem;
}
.buttonsContainer {
  position: absolute;
  right: 0;
  top: 0;
}
.alert
{
  background-color: transparent;
}

