<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Hard & Soft skills</h1>

      <button
        type="button"
        routerLink="/newskill"
        class="btn btn-primary"
        *ngIf="isLogged"
      >
        Nueva Skill
      </button>
    </div>

    <div
      class="text-center col-sm-4 col-md-4 col-lg-4 circulo"
      *ngFor="let Hyss of skill"
    >
      <div>
        <td *ngIf="isLogged">
          <button class="edit-button" routerLink="/editskill/{{ Hyss.id }}">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="delete-button" (click)="delete(Hyss.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </div>
      <figure>
        <circle-progress
          [percent]="Hyss.porcentaje"
          [radius]="90"
          [imageSrc]="Hyss.img"
          [title]="Hyss.nombre"
          [titleColor]="'#FFFFFF'"
          [showTitle]="true"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="Hyss.colorexterior"
          [innerStrokeColor]="Hyss.colorinterior"
          [animation]="true"
          [animationDuration]="600"
        >
        </circle-progress>
        <figcaption style="color: white">{{ Hyss.nombre }}</figcaption>
      </figure>
    </div>
  </div>
</div>
