<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br />
      <br />

      <h1>Historial academico</h1>

      <button
        type="button"
        class="btn btn-primary"
        routerLink="/nuevoHis"
        *ngIf="isLogged"
      >
        Agregar Educacion
      </button>
      <tr *ngFor="let Educacion of educacion">
        <br />

        <h2>
          <img src="{{ Educacion.imgE }}" width="40" height="35" alt="" />
          {{ Educacion.nombreE }}
        </h2>
        <br />
        <ul>
          <li>
            <p><b>Descripcion de los estudios: </b></p>
            <p>{{ Educacion.descripcionE }}</p>
          </li>
        </ul>
        <td *ngIf="isLogged">
          <button class="edit-button" routerLink="/editHis/{{ Educacion.id }}">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <div class="margen">
            <button class="delete-button" (click)="delete(Educacion.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </tr>
    </div>
  </div>
</div>
