h1,
h2,
span,
ul,
p {
  margin-top: 1rem;
}
h1 {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.newedu {
  margin-bottom: 1rem;
}
span {
  margin-bottom: 2rem;
}
.margen {
  margin-left: 0.3rem;
}
.edit-button,
.delete-button {
  border: none;
  background-color: transparent;
  color: white;
}
.alert {
  background-color: rgb(1, 95, 173);
}
.buttonsContainer {
  position: absolute;
  right: 0;
  top: 0;
}