h1,h2,span,ul,p {
  margin-top: 1rem;
}
h1 {
margin-bottom: 1rem;

}
span {
  margin-bottom: 2rem;
}
.margen {
    margin-left: 0.3rem;
}

.edit-button, .delete-button {
 
    border: none;
    background-color: transparent;
    color: white;

  }
  
  
 